In [2]:
import numpy as np
import pandas as pd

제품 = list('AB')
대리점 = list('PQ')
공장 = list('XY')
레인 = (2,2)

print(제품, 대리점, 공장, 레인)

['A', 'B'] ['P', 'Q'] ['X', 'Y'] (2, 2)

In [3]:
# 대리점 - 공장 간 운송비용
trans_cost = pd.DataFrame( ((j,k) for j in 대리점 for k in 공장), columns = ['대리점', '공장'])
trans_cost['운송비'] = [1,2,3,1]
trans_cost

  대리점 공장  운송비
0   P  X    1
1   P  Y    2
2   Q  X    3
3   Q  Y    1

In [4]:
# 각 대리점에서의 제품 수요량
s_demand = pd.DataFrame( ((j, i) for j in 대리점 for i in 제품), columns = ['대리점', '제품'])
s_demand['수요량'] = [10, 10, 20, 20]
s_demand

  대리점 제품  수요량
0   P  A   10
1   P  B   10
2   Q  A   20
3   Q  B   20